In [1]:
import pandas as pd

df = pd.concat([pd.read_csv('Divvy_2016_Q1Q2.csv'), pd.read_csv('Divvy_2016_Q3Q4.csv')], ignore_index=True)

In [2]:
df

,Unnamed: 0,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,to_station_latitude,to_station_longitude
0,0,9055823,3/29/2016 14:28,3/29/2016 14:50,2298,1351,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
1,1,9055816,3/29/2016 14:27,3/29/2016 14:50,4706,1407,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
2,2,9054979,3/29/2016 13:01,3/29/2016 13:15,152,851,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Subscriber,Female,1969.0,41.872667,-87.623971,35,41.872667,-87.623971
3,3,9054281,3/29/2016 11:42,3/29/2016 11:54,1954,740,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
4,4,9044031,3/28/2016 10:29,3/28/2016 10:36,1909,411,2,Michigan Ave & Balbo Ave,2,Michigan Ave & Balbo Ave,Customer,NaN,NaN,41.872667,-87.623971,35,41.872667,-87.623971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992291,2125638,12349798,10/15/2016 10:19:18,10/15/2016 10:21:41,5671,143,364,Larrabee St & Oak St,620,Orleans St & Chestnut St (NEXT Apts),Subscriber,Male,1987.0,41.900219,-87.642985,15,41.898203,-87.637536
3992292,2125639,12317286,10/13/2016 06:13:03,10/13/2016 06:15:56,2676,173,364,Larrabee St & Oak St,620,Orleans St & Chestnut St (NEXT Apts),Subscriber,Male,1982.0,41.900219,-87.642985,15,41.898203,-87.637536
3992293,2125640,12261959,10/9/2016 10:22:32,10/9/2016 10:26:07,1410,215,364,Larrabee St & Oak St,620,Orleans St & Chestnut St (NEXT Apts),Subscriber,Male,1987.0,41.900219,-87.642985,15,41.898203,-87.637536
3992294,2125641,12214571,10/5/2016 18:14:43,10/5/2016 18:16:53,5264,130,620,Orleans St & Chestnut St (NEXT Apts),620,Orleans St & Chestnut St (NEXT Apts),Subscriber,Male,1990.0,41.898203,-87.637536,15,41.898203,-87.637536
3992295,2125642,12213839,10/5/2016 17:52:39,10/5/2016 17:54:21,5264,102,620,Orleans St & Chestnut St (NEXT Apts),620,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1994.0,41.898203,-87.637536,15,41.898203,-87.637536

In [4]:
df.to_csv('Divvy 2016 merged.csv')