In [1]:
import pandas as pd

In [2]:
merged2013_2022 = pd.read_csv('1 Full Divvy Dataframe pt5.csv', index_col=[0])

In [3]:
merged2013_2022['start_date'] = pd.to_datetime(merged2013_2022['start_date'], format='%Y-%m-%d')
merged2013_2022['end_date'] = pd.to_datetime(merged2013_2022['end_date'], format='%Y-%m-%d')

In [4]:
merged2013_2022.loc[merged2013_2022['start_date'].dt.year == 2014]['start_date'].dt.month.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [5]:
merged2013_2022.head()

,index,start_time,end_time,trip_duration,start_station_id,start_station_name,end_station_id,end_station_name,usertype,gender,...,rideable_type,start_city,start_landmark,end_city,end_landmark,start_date,end_date,start_dpcapacity,end_dpcapacity,age
0,324105,01:06:00,09:46:00,31177,WL-012,Clinton St & Washington Blvd,TA1306000009,Larrabee St & Kingsbury St,1,0,...,0,0,10,0,12,2013-06-27,2013-06-27,29,43,31
1,8549730,11:09:00,11:11:00,140,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
2,8624583,11:12:00,11:13:00,87,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
3,8938223,11:24:00,14:38:00,11674,17,Honore St & Division St,61,Wood St & Milwaukee Ave,1,0,...,0,0,246,0,221,2013-06-27,2013-06-27,23,17,35
4,9359122,11:39:00,16:01:00,15758,88,Racine Ave & Randolph St,34,Cannon Dr & Fullerton Ave,1,0,...,0,0,155,0,124,2013-06-27,2013-06-27,19,15,31

In [6]:
merged2013_2022.columns

Index(['index', 'start_time', 'end_time', 'trip_duration', 'start_station_id',
       'start_station_name', 'end_station_id', 'end_station_name', 'usertype',
       'gender', 'birthyear', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'rideable_type', 'start_city', 'start_landmark', 'end_city',
       'end_landmark', 'start_date', 'end_date', 'start_dpcapacity',
       'end_dpcapacity', 'age'],
      dtype='object')

In [7]:
merged2013_2022.drop('index', axis=1, inplace=True)

In [8]:
# I want to adjust dtypes a bit more so that we aren't using as much memory

In [9]:
merged2013_2022.columns

Index(['start_time', 'end_time', 'trip_duration', 'start_station_id',
       'start_station_name', 'end_station_id', 'end_station_name', 'usertype',
       'gender', 'birthyear', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'rideable_type', 'start_city', 'start_landmark', 'end_city',
       'end_landmark', 'start_date', 'end_date', 'start_dpcapacity',
       'end_dpcapacity', 'age'],
      dtype='object')

In [10]:
start_sta = list(merged2013_2022['start_station_name'].unique())
end_sta = list(merged2013_2022['end_station_name'].unique())

In [11]:
sorted(start_sta) == sorted(end_sta)

True

In [12]:
merged2013_2022.loc[merged2013_2022['start_station_name'] == start_sta[0]]['start_station_id'].unique()

array(['WL-012'], dtype=object)

In [13]:
merged2013_2022.loc[merged2013_2022['start_station_name'] == start_sta[0], 'start_station_id'].unique()

array(['WL-012'], dtype=object)

In [14]:
id_dict = {}

In [15]:
for i in range(len(start_sta)):
    id_dict[f'{start_sta[i]}'] = list(merged2013_2022.loc[merged2013_2022['start_station_name'] == start_sta[i], 'start_station_id'].unique())

In [16]:
id_dict

{'Clinton St & Washington Blvd': ['WL-012'],
 'Racine Ave & Randolph St': ['88'],
 'Honore St & Division St': ['17'],
 'Michigan Ave & Oak St': ['85'],
 'Larrabee St & Menomonee St': ['TA1306000007'],
 'Michigan Ave & Ida B Wells Dr': ['45'],
 'Wood St & Milwaukee Ave': ['61'],
 'Racine Ave & Congress Pkwy': ['TA1306000025'],
 'Clinton St & Tilden St': ['68'],
 'Throop St & Taylor St': ['19'],
 'Halsted St & Wrightwood Ave': ['TA1309000061'],
 'Loomis St & Lexington St': ['320'],
 'Cannon Dr & Fullerton Ave': ['34'],
 'Wabash Ave & Cermak Rd': ['TA1305000001'],
 'Halsted St & James M Rochford St': ['55'],
 'Franklin St & Jackson Blvd': ['TA1305000025'],
 'Daley Center Plaza': ['TA1306000010'],
 'Dearborn St & Adams St': ['TA1305000005'],
 'State St & Randolph St': ['TA1305000029'],
 'Lincoln Ave & Armitage Ave': ['94'],
 'Clark St & Wrightwood Ave': ['TA1305000014'],
 'DuSable Lake Shore Dr & Monroe St': ['76', '13300'],
 'Millennium Park': ['90'],
 'Michigan Ave & Lake St': ['TA1305000011'],
 'Clark St & Randolph St': ['TA1305000030'],
 'Southport Ave & Wrightwood Ave': ['TA1307000113'],
 'Fairbanks Ct & Grand Ave': ['TA1305000003'],
 'Ogden Ave & Chicago Ave': ['TA1305000020'],
 'Sheffield Ave & Kingsbury St': ['20'],
 'Franklin St & Chicago Ave': ['31'],
 'Kingsbury St & Erie St': ['74'],
 'Clinton St & Madison St': ['TA1305000032'],
 'Damen Ave & Pierce Ave': ['TA1305000041'],
 'Dayton St & North Ave': ['60'],
 'Wabash Ave & Roosevelt Rd': ['TA1305000002'],
 'Sheffield Ave & Fullerton Ave': ['TA1306000016'],
 'Jefferson St & Monroe St': ['WL-011'],
 'Noble St & Milwaukee Ave': ['29'],
 'Lincoln Ave & Eastwood Ave': ['311'],
 'Wabash Ave & 16th St': ['72'],
 'Canal St & Jackson Blvd': ['75'],
 'Larrabee St & Kingsbury St': ['TA1306000009'],
 'Paulina Ave & North Ave': ['16'],
 'Halsted St & Polk St': ['TA1307000121'],
 'State St & Harrison St': ['SL-007'],
 'Ashland Ave & Augusta Blvd': ['30'],
 'McClurg Ct & Illinois St': ['26'],
 'Michigan Ave & Pearson St': ['25'],
 'Racine Ave & 18th St': ['15'],
 'Clinton St & Lake St': ['66'],
 'Ashland Ave & Wrightwood Ave': ['166'],
 'Aberdeen St & Jackson Blvd': ['21'],
 'Ashland Ave & Armitage Ave': ['58'],
 'Ashland Ave & Chicago Ave': ['350'],
 'May St & Taylor St': ['22'],
 'Clarendon Ave & Leland Ave': ['TA1307000119'],
 'Wells St & Walton St': ['TA1306000011'],
 'Larrabee St & North Ave': ['TA1306000008'],
 'Adler Planetarium': ['341'],
 'Calumet Ave & 33rd St': ['149'],
 'Lincoln Ave & Fullerton Ave': ['TA1309000058'],
 'Franklin St & Lake St': ['TA1307000111'],
 'Halsted St & 35th St': ['TA1308000043'],
 'Greenwood Ave & 47th St': ['TA1308000002'],
 'Pine Grove Ave & Waveland Ave': ['232'],
 'Cottage Grove Ave & 51st St': ['TA1309000067'],
 'McCormick Place': ['TA1305000004'],
 'DuSable Lake Shore Dr & Ohio St': ['TA1306000029', 'TA1306000030'],
 'Green St & Milwaukee Ave': ['84'],
 'Clark St & Ida B Wells Dr': ['50'],
 'Ashland Ave & Wellington Ave': ['250'],
 'Desplaines St & Kinzie St': ['TA1306000003'],
 'Halsted St & 37th St': ['TA1307000161'],
 'Field Museum': ['97'],
 'Clinton St & Roosevelt Rd': ['WL-008'],
 'Michigan Ave & Washington St': ['43'],
 'State St & Van Buren St': ['TA1305000035'],
 'State St & Kinzie St': ['47'],
 'Kimbark Ave & 53rd St': ['TA1309000037'],
 'Morgan St & 18th St': ['14'],
 'Racine Ave & Fullerton Ave': ['TA1306000026'],
 'Broadway & Barry Ave': ['300'],
 'Morgan St & Lake St*': ['TA1306000015', 'chargingstx4'],
 'Indiana Ave & Roosevelt Rd': ['SL-005'],
 'Orleans St & Elm St': ['TA1306000006'],
 'Montrose Harbor': ['TA1308000012'],
 'Ravenswood Ave & Irving Park Rd': ['TA1307000149'],
 'Sheffield Ave & Willow St': ['TA1306000032'],
 'Dearborn St & Monroe St': ['TA1305000006'],
 'Wells St & Erie St': ['53'],
 'Aberdeen St & Monroe St': ['80'],
 'Blackstone Ave & Hyde Park Blvd': ['121'],
 'Hampden Ct & Diversey Pkwy': ['220'],
 'Wilton Ave & Diversey Pkwy': ['TA1306000014',
  'Wilton Ave & Diversey Pkwy - Charging'],
 'LaSalle St & Illinois St': ['181'],
 'Carpenter St & Huron St': ['92'],
 'Eckhart Park': ['86'],
 'Wood St & Hubbard St': ['285'],
 'California Ave & 21st St': ['348'],
 'Clarendon Ave & Gordon Ter': ['312'],
 'Green St & Randolph St*': ['112', 'chargingstx3'],
 'Martin Luther King Dr & Oakwood Blvd': ['179'],
 'Clark St & Waveland Ave': ['165'],
 'Ellis Ave & 58th St': ['TA1309000011'],
 'Western Ave & Division St': ['305'],
 'Greenview Ave & Diversey Pkwy': ['319'],
 'Lakeview Ave & Fullerton Pkwy': ['TA1309000019'],
 'Columbus Dr & Randolph St': ['195'],
 'Clark St & Lincoln Ave': ['141'],
 'Lincoln Ave & Addison St': ['TA1309000050'],
 'Canal St & Adams St': ['192'],
 'Greenview Ave & Fullerton Ave': ['TA1307000001'],
 'LaSalle St & Washington St': ['98'],
 'Canal St & Harrison St': ['169'],
 'Michigan Ave & 18th St': ['273'],
 'California Ave & Milwaukee Ave': ['123'],
 'Claremont Ave & Hirsch St': ['159'],
 'Orleans St & Merchandise Mart Plaza': ['TA1305000022'],
 'State St & 19th St': ['SL-013'],
 'N Sheffield Ave & W Wellington Ave': ['TA1307000052', '20256'],
 'Clinton St & 18th St': ['TA1307000044'],
 'Peoria St & Jackson Blvd': ['134'],
 'Fort Dearborn Dr & 31st St': ['TA1307000048'],
 'Halsted St & 21st St': ['135'],
 'Damen Ave & Coulter St': ['TA1307000066'],
 'Indiana Ave & 26th St': ['TA1307000005'],
 'Blue Island Ave & 18th St': ['129'],
 'Damen Ave & Thomas St (Augusta Blvd)': ['183'],
 'Southport Ave & Wellington Ave': ['TA1307000006'],
 'Damen Ave & Wellington Ave': ['162'],
 'Western Ave & Winnebago Ave': ['116'],
 'May St & Cullerton St': ['171'],
 'Damen Ave & Division St': ['130'],
 'Stave St & Armitage Ave': ['185'],
 'Canal St & Madison St': ['174'],
 'Campbell Ave & North Ave': ['160'],
 'Milwaukee Ave & Wabansia Ave': ['158'],
 'Ogden Ave & Race Ave': ['186'],
 'Loomis St & Jackson Blvd': ['146'],
 'Ashland Ave & Lake St': ['119'],
 'Wabash Ave & 9th St': ['321'],
 'Ogden Ave & Congress Pkwy': ['122'],
 'Clark St & North Ave': ['126'],
 'Paulina St & Diversey Pkwy': ['164'],
 'Southport Ave & Belmont Ave': ['154'],
 'Wells St & Ohio St': ['213'],
 'Lincoln Ave & Diversey Pkwy': ['TA1307000064'],
 'Ashland Ave & Grace St': ['347'],
 'Morgan Ave & 14th Pl': ['TA1306000002'],
 'Racine Ave & 13th St': ['136'],
 'Mies van der Rohe Way & Chicago Ave': ['173'],
 'Clark St & Elm St': ['TA1307000039'],
 'Sedgwick St & North Ave': ['TA1307000038'],
 'Halsted St & Willow St': ['TA1307000166'],
 'Dearborn St & Erie St': ['110'],
 'Dearborn Pkwy & Delaware Pl': ['TA1307000128'],
 'State St & Pearson St': ['TA1307000061'],
 'Lake Shore Dr & Wellington Ave': ['TA1307000041'],
 'Sedgwick St & Huron St': ['TA1307000062'],
 'Sheffield Ave & Waveland Ave': ['114'],
 'Sangamon St & Washington Blvd': ['233'],
 'Wilton Ave & Belmont Ave': ['TA1307000134'],
 'Larrabee St & Webster Ave': ['144'],
 'Southport Ave & Roscoe St': ['229'],
 'Clark St & Wellington Ave': ['TA1307000136'],
 'Sedgwick St & Webster Ave': ['143'],
 'Michigan Ave & 14th St': ['TA1307000124'],
 'Wells St & Polk St': ['SL-011'],
 'Damen Ave & Chicago Ave': ['128'],
 'Ravenswood Ave & Berteau Ave': ['TA1309000018'],
 'Damen Ave & Cullerton St': ['124'],
 'Streeter Dr & Grand Ave': ['35'],
 'Clybourn Ave & Division St': ['TA1307000115'],
 'State St & 35th St': ['TA1307000129'],
 '900 W Harrison St': ['109'],
 'Wentworth Ave & Cermak Rd': ['120'],
 'Canal St & Monroe St': ['191'],
 'Cityfront Plaza Dr & Pioneer Ct': ['196'],
 'State St & Wacker Dr': ['194'],
 'Wabash Ave & Grand Ave': ['TA1307000117'],
 'Michigan Ave & Madison St': ['197'],
 'Green St & Madison Ave*': ['198'],
 'Sheridan Rd & Irving Park Rd': ['240'],
 'Halsted St & 18th St': ['202'],
 'Theater on the Lake': ['TA1308000001'],
 'MLK Jr Dr & 47th St': ['200'],
 'Paulina St & 18th St': ['TA1307000159'],
 'Halsted St & Archer Ave': ['TA1308000013'],
 'Public Rack - Prairie Ave & Garfield Blvd': ['TA1307000160'],
 'St Clair St & Erie St': ['211'],
 'Damen Ave & Madison St': ['215'],
 'Emerald Ave & 28th St': ['TA1307000153'],
 'Indiana Ave & 40th St': ['201'],
 'Western Ave & 21st St': ['203'],
 'Ashland Ave & Division St': ['210'],
 'Elizabeth St & Fulton St': ['217'],
 'Normal Ave & Archer Ave': ['TA1308000014'],
 'Damen Ave & Grand Ave': ['TA1308000006'],
 'California Ave & Division St': ['216'],
 'Leavitt St & North Ave': ['TA1308000005'],
 'Ashland Ave & 21st St': ['208'],
 'Halsted St & Dickens Ave': ['225'],
 'Racine Ave & Belmont Ave': ['TA1308000019'],
 'Sheridan Rd & Montrose Ave': ['TA1307000107'],
 'Southport Ave & Waveland Ave': ['227'],
 'Damen Ave & Cortland St': ['219'],
 'Lincoln Ave & Roscoe St*': ['TA1307000138', 'chargingstx5'],
 'MLK Jr Dr & 29th St': ['237'],
 'Damen Ave & Melrose Ave': ['228'],
 'Western Ave & Leland Ave': ['TA1307000140'],
 'Clark St & Montrose Ave': ['KA1503000022'],
 'Sedgwick St & Schiller St': ['TA1307000143'],
 'Clifton Ave & Armitage Ave': ['TA1307000163'],
 'Morgan St & Polk St': ['TA1307000130'],
 'Wolcott (Ravenswood) Ave & Montrose Ave': ['238'],
 'Lincoln Ave & Sunnyside Ave': ['243'],
 'Damen Ave & Leland Ave': ['TA1307000158'],
 'Milwaukee Ave & Rockwell St': ['222'],
 'Wells St & 19th St': ['SL-006'],
 'Woodlawn Ave & 55th St': ['TA1307000164'],
 'Shore Drive & 55th St': ['247'],
 'State St & 29th St': ['193'],
 'Clarendon Ave & Junior Ter': ['245'],
 'Ashland Ave & Belle Plaine Ave': ['246'],
 'Wolcott Ave & Polk St': ['TA1309000064'],
 'State St & 33rd St': ['148'],
 'California Ave & Francis Pl': ['259'],
 'Hermitage Ave & Polk St': ['261'],
 'Bissell St & Armitage Ave*': ['113', 'chargingstx1'],
 'Broadway & Sheridan Rd': ['256'],
 'Winthrop Ave & Lawrence Ave': ['253'],
 'Wentworth Ave & 24th St': ['TA1308000026'],
 'Calumet Ave & 18th St': ['338'],
 'Southport Ave & Clark St': ['TA1308000047'],
 'Pine Grove Ave & Irving Park Rd': ['TA1308000022'],
 'Logan Blvd & Elston Ave': ['TA1308000031'],
 'Lincoln Ave & Waveland Ave': ['257'],
 'Ashland Ave & Grand Ave': ['277'],
 'DuSable Lake Shore Dr & North Blvd': ['LF-005', 'LF-006'],
 'Cottage Grove Ave & 43rd St': ['TA1308000023'],
 'Ashland Ave & 13th St': ['275'],
 'California Ave & North Ave': ['276'],
 'Indiana Ave & 31st St': ['TA1308000036'],
 'Racine Ave & 15th St': ['274'],
 'Western Ave & 24th St': ['TA1309000003'],
 'Franklin St & Monroe St': ['287'],
 'Wells St & Evergreen Ave': ['TA1308000049'],
 'Broadway & Belmont Ave': ['296'],
 'Halsted St & Maxwell St': ['TA1305000017'],
 'Morgan St & 31st St': ['TA1308000046'],
 'Larrabee St & Armitage Ave': ['TA1309000006'],
 'Wallace St & 35th St': ['278'],
 'Michigan Ave & Jackson Blvd': ['TA1309000002'],
 'LaSalle St & Jackson Blvd': ['TA1309000004'],
 'Franklin St & Adams St': ['TA1309000008'],
 'Wells St & Concord Ln': ['289'],
 'Kedzie Ave & Milwaukee Ave': ['260'],
 'Public Rack - Lake Park Ave & 47th St': ['TA1308000035'],
 'Rhodes Ave & 32nd St': ['263'],
 'Cottage Grove Ave & Oakwood Blvd': ['TA1308000038'],
 'Stetson Ave & South Water St': ['TA1308000029'],
 'Broadway & Wilson Ave': ['293'],
 'Broadway & Berwyn Ave': ['294'],
 'Broadway & Argyle St': ['295'],
 'Clark St & Schiller St': ['TA1309000024'],
 'Halsted St & Roscoe St': ['TA1309000025'],
 'Paulina St & Montrose Ave': ['TA1309000021'],
 'Broadway & Cornelia Ave': ['303'],
 'Broadway & Waveland Ave': ['304'],
 'Leavitt St & Armitage Ave': ['TA1309000029'],
 'Sheffield Ave & Wrightwood Ave': ['TA1309000023'],
 'Damen Ave & Charleston St': ['310'],
 'Leavitt St & Hirsch St': ['315'],
 'Wood St & Taylor St': ['317'],
 'Southport Ave & Irving Park Rd': ['TA1309000043'],
 'Sheridan Rd & Lawrence Ave': ['TA1309000041'],
 'Lincoln Ave & Belmont Ave': ['TA1309000042'],
 'Clark St & Winnemac Ave': ['TA1309000035'],
 'Sheridan Rd & Buena Ave': ['TA1309000027'],
 'Southport Ave & Clybourn Ave': ['TA1309000030'],
 'Sheffield Ave & Webster Ave': ['TA1309000033'],
 'Damen Ave & Sunnyside Ave': ['TA1309000012'],
 'DuSable Lake Shore Dr & Diversey Pkwy': ['TA1309000039', 'TA1309000040'],
 'Seeley Ave & Roscoe St': ['308'],
 'DuSable Lake Shore Dr & Belmont Ave': ['TA1309000049', 'TA1309000048'],
 'Clark St & Leland Ave': ['TA1309000014'],
 'Ashland Ave & Blackhawk St': ['333'],
 'Clark St & Chicago Ave': ['337'],
 'Burling St & Diversey Pkwy': ['332'],
 'Halsted St & Clybourn Ave': ['331'],
 'Emerald Ave & 31st St': ['TA1309000055'],
 'Lincoln Ave & Belle Plaine Ave': ['TA1309000026'],
 'Stockton Dr & Wrightwood Ave': ['324'],
 'Lake Park Ave & 56th St': ['TA1309000063'],
 'Ravenswood Ave & Lawrence Ave': ['344'],
 'Kedzie Ave & Palmer Ct': ['290'],
 'Ada St & Washington Blvd': ['346'],
 'Cottage Grove Ave & 47th St': ['TA1309000053'],
 'Calumet Ave & 35th St': ['335'],
 'Racine Ave & Wrightwood Ave': ['TA1309000059'],
 'Clark St & Armitage Ave': ['13146'],
 'Marshfield Ave & Cortland St': ['TA1305000039'],
 'Wells St & Hubbard St': ['TA1307000151'],
 'Wabash Ave & Wacker Pl': ['TA1307000131'],
 'Clark St & Grace St': ['TA1307000127'],
 'Union Ave & Grand Ave': ['87'],
 'Leavitt St & Lawrence Ave': ['TA1309000015'],
 'MLK Jr Dr & Oakwood Blvd': ['180'],
 'Damen Ave & Clybourn Ave': ['163'],
 'Ellis Ave & 55th St': ['KA1504000076'],
 'Loomis St & Archer Ave': ['KA1503000040'],
 'Racine Ave & 35th St': ['367'],
 'Ashland Ave & Archer Ave': ['368'],
 'Leavitt St & Archer Ave': ['KA1503000068'],
 'Wentworth Ave & 33rd St': ['403'],
 'Union Ave & Root St': ['408'],
 'Wood St & 35th St': ['KA1503000066'],
 'State St & Pershing Rd': ['407'],
 'Dorchester Ave & 49th St': ['KA1503000069'],
 'Prairie Ave & 43rd St': ['KA1503000027'],
 'Halsted St & 47th Pl': ['KA1503000051'],
 'Woodlawn Ave & Lake Park Ave': ['KA1503000065'],
 'Cornell Ave & Hyde Park Blvd': ['417'],
 'Lake Park Ave & 35th St': ['KA1503000004'],
 'Lake Park Ave & 53rd St': ['KA1503000059'],
 'Halsted St & 56th St': ['KA1503000011'],
 'Princeton Ave & 47th St': ['KA1503000009'],
 'Ellis Ave & 60th St': ['KA1503000014'],
 'Harper Ave & 59th St': ['KA1503000070'],
 'University Ave & 57th St': ['KA1503000071'],
 'Shields Ave & 43rd St': ['KA1503000001'],
 'Shields Ave & 31st St': ['402'],
 'Ellis Ave & 53rd St': ['KA1503000052'],
 'Museum of Science and Industry': ['KA1503000074'],
 'Wacker Dr & Washington St': ['KA1503000072'],
 'Clark St & Lake St': ['KA1503000012'],
 'Field Blvd & South Water St': ['7'],
 'Wabash Ave & Adams St': ['KA1503000015'],
 'Public Rack - Calumet Ave & 51st St': ['415'],
 'Halsted St & 51st St': ['KA1503000010'],
 '63rd St Beach': ['101'],
 'Cottage Grove Ave & 71st St': ['KA1503000003'],
 'Shedd Aquarium': ['3'],
 'Dusable Harbor': ['KA1503000064'],
 'Cottage Grove Ave & 63rd St': ['KA1503000054'],
 'Kingsbury St & Kinzie St': ['KA1503000043'],
 'Desplaines St & Randolph St': ['96'],
 'Federal St & Polk St': ['SL-008'],
 'Desplaines St & Jackson Blvd': ['107'],
 'LaSalle St & Adams St': ['KA1503000034'],
 'Calumet Ave & 71st St': ['393'],
 'MLK Jr Dr & 63rd St': ['KA1503000053'],
 'South Shore Dr & 67th St': ['KA1503000029'],
 'Public Rack - South Shore Dr & 71st St': ['KA1503000002'],
 'Rainbow Beach': ['KA1503000049'],
 'Public Rack - Halsted St & 63rd St': ['KA1503000055'],
 'Dorchester Ave & 63rd St': ['KA1503000046'],
 'Ogden Ave & Roosevelt Rd': ['KA1504000101'],
 'Kedzie Ave & Harrison St': ['KA1504000082'],
 'Ashland Ave & Harrison St': ['383'],
 'Kedzie Ave & Roosevelt Rd': ['435'],
 'Kedzie Ave & 21st St': ['439'],
 'Kedzie Ave & 24th St': ['KA1504000086'],
 'Albany Ave & 26th St': ['444'],
 'Artesian Ave & Hubbard St': ['376'],
 'Public Rack - Eberhart Ave & 61st St': ['KA1503000033'],
 'Western Ave & Monroe St': ['381'],
 'California Ave & Lake St': ['378'],
 'Western Ave & Walton St': ['KA1504000103'],
 'Stony Island Ave & 75th St': ['KA1503000019'],
 'Western Ave & Congress Pkwy': ['382'],
 'Jeffery Blvd & 67th St': ['KA1503000030'],
 'Princeton Ave & Garfield Blvd': ['KA1503000013'],
 'California Ave & 23rd Pl': ['442'],
 'California Ave & 26th St': ['445'],
 'Fairfield Ave & Roosevelt Rd': ['436'],
 'South Shore Dr & 74th St': ['KA1503000020'],
 'Kedzie Ave & Lake St': ['KA1504000106'],
 'Public Rack - Central Park Ave & Ogden Ave': ['438'],
 'Stony Island Ave & 67th St': ['KA1503000023'],
 'California Ave & Augusta Blvd': ['357'],
 'Stony Island Ave & 71st St': ['KA1503000045'],
 'Spaulding Ave & Armitage Ave': ['506'],
 'Millard Ave & 26th St': ['KA1504000110'],
 'Kosciuszko Park': ['499'],
 'Jeffery Blvd & 71st St': ['KA1503000018'],
 'Calumet Ave & 21st St': ['370'],
 'Troy St & North Ave': ['509'],
 'Central Park Ave & North Ave': ['508'],
 'Humboldt Blvd & Armitage Ave': ['507'],
 'Spaulding Ave & Division St': ['510'],
 'Public Rack - Kedzie Ave & Chicago Ave': ['KA1504000114'],
 'St. Louis Ave & Fullerton Ave': ['503'],
 'Kimball Ave & Belmont Ave': ['KA150400009X'],
 'Larrabee St & Division St': ['KA1504000079'],
 'Halsted St & 69th St': ['391'],
 'Larrabee St & Oak St': ['KA1504000116'],
 'Jeffery Blvd & 76th St': ['KA1503000028'],
 'Cottage Grove Ave & 67th St': ['KA1503000031'],
 'Saginaw Ave & Exchange Ave': ['397'],
 'California Ave & Fletcher St': ['498'],
 'Talman Ave & Addison St': ['491'],
 'Western Ave & Roscoe St': ['493'],
 'Sawyer Ave & Irving Park Rd': ['KA1504000096'],
 'Central Park Ave & Elbridge Ave': ['500'],
 'Drake Ave & Montrose Ave': ['KA1504000097'],
 'Rockwell St & Eastwood Ave': ['KA1504000093'],
 'Richmond St & Diversey Ave': ['501'],
 'Washtenaw Ave & Lawrence Ave': ['KA1504000080'],
 'Kedzie Ave & Leland Ave': ['KA1504000126'],
 'Kedzie Ave & Foster Ave': ['KA1504000128'],
 'Troy St & Elston Ave': ['490'],
 'Albany Ave & Bloomingdale Ave': ['511'],
 'Lincoln Ave & Winona St': ['KA1504000078'],
 'Manor Ave & Leland Ave': ['KA1504000127'],
 'Budlong Woods Library': ['468'],
 'Albany Ave & Montrose Ave': ['480'],
 'Winchester Ave & Elston Ave': ['KA1504000140'],
 'Monticello Ave & Irving Park Rd': ['KA1504000139'],
 'Avondale Ave & Irving Park Rd': ['483'],
 'Stony Island Ave & 64th St': ['KA1503000021'],
 'Michigan Ave & 8th St': ['623'],
 'Financial Pl & Ida B Wells Dr': ['89'],
 'Rush St & Hubbard St': ['KA1503000044'],
 'McClurg Ct & Erie St': ['KA1503000041'],
 'Mies van der Rohe Way & Chestnut St': ['145'],
 'Clinton St & Polk St': ['103'],
 'Rush St & Superior St': ['161'],
 'Rush St & Cedar St': ['KA1504000133'],
 'Ritchie Ct & Banks St': ['KA1504000134'],
 'MLK Jr Dr & 56th St': ['KA1503000073'],
 'Shields Ave & 28th Pl': ['401'],
 'Broadway & Granville Ave': ['454'],
 'Broadway & Ridge Ave': ['461'],
 'Lakefront Trail & Bryn Mawr Ave': ['KA1504000152'],
 'Clark St & Bryn Mawr Ave': ['KA1504000151'],
 'Public Rack - Lawndale Ave & 23rd St': ['1070'],
 'Clark St & Elmdale Ave': ['KA1504000148'],
 'Broadway & Thorndale Ave': ['458'],
 'Clark St & Columbia Ave': ['RP-008'],
 'Yates Blvd & 75th St': ['KA1503000024'],
 'Perry Ave & 69th St': ['KA1503000047'],
 'Clark St & Schreiber Ave': ['KA1504000156'],
 'Western Ave & Granville Ave': ['KA1504000129'],
 '2112 W Peterson Ave': ['KA1504000155'],
 'Maplewood Ave & Peterson Ave': ['KA1504000130'],
 'Oakley Ave & Irving Park Rd': ['KA1504000158'],
 'Warren Park East': ['RP-002'],
 'Warren Park West': ['RP-001'],
 'Leavitt St & Addison St': ['KA1504000143'],
 'Pulaski Rd & Eddy St': ['KA1504000141'],
 'Drake Ave & Addison St': ['KA1504000142'],
 'Damen Ave & Foster Ave': ['KA1504000149'],
 'California Ave & Altgeld St': ['502'],
 'Avers Ave & Belmont Ave': ['496'],
 'Clark St & Berwyn Ave': ['KA1504000146'],
 'Winchester (Ravenswood) Ave & Balmoral Ave': ['462'],
 'Campbell Ave & Montrose Ave': ['482'],
 'Francisco Ave & Foster Ave': ['KA1504000160'],
 'Clark St & Lunt Ave': ['KA1504000162'],
 'Sheridan Rd & Loyola Ave': ['RP-009'],
 'Sacramento Blvd & Franklin Blvd': ['KA1504000113'],
 'Sheridan Rd & Greenleaf Ave': ['KA1504000159'],
 'Western Ave & Lunt Ave': ['RP-005'],
 'Glenwood Ave & Morse Ave': ['KA1504000175'],
 'Ridge Blvd & Touhy Ave': ['RP-006'],
 'Burnham Harbor': ['4'],
 'Keystone Ave & Montrose Ave': ['KA1504000164'],

In [17]:
for i in range(len(end_sta)):
    if i % 50 == 0:
        print(i)
    id_dict[f'{end_sta[i]}'] += list(merged2013_2022.loc[merged2013_2022['end_station_name'] == end_sta[i], 'end_station_id'].unique())

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300

In [18]:
id_keys = list(id_dict.keys())

In [19]:
for i in range(len(id_keys)):
    id_dict[id_keys[i]] = list(set(id_dict[id_keys[i]]))

In [20]:
check_list = []
stations_list = []
for i in range(len(id_keys)):
    if len(id_dict[id_keys[i]]) > 1:
        check_list.append(id_dict[id_keys[i]])
        stations_list.append(id_keys[i])
        print(f'{id_keys[i]}: {id_dict[id_keys[i]]}')

DuSable Lake Shore Dr & Monroe St: ['13300', '76']
DuSable Lake Shore Dr & Ohio St: ['TA1306000030', 'TA1306000029']
Morgan St & Lake St*: ['chargingstx4', 'TA1306000015']
Wilton Ave & Diversey Pkwy: ['TA1306000014', 'Wilton Ave & Diversey Pkwy - Charging']
Green St & Randolph St*: ['112', 'chargingstx3']
N Sheffield Ave & W Wellington Ave: ['TA1307000052', '20256']
Lincoln Ave & Roscoe St*: ['chargingstx5', 'TA1307000138']
Bissell St & Armitage Ave*: ['chargingstx1', '113']
DuSable Lake Shore Dr & North Blvd: ['LF-005', 'LF-006']
DuSable Lake Shore Dr & Diversey Pkwy: ['TA1309000040', 'TA1309000039']
DuSable Lake Shore Dr & Belmont Ave: ['TA1309000048', 'TA1309000049']
Western Ave & 28th St: ['KA1504000169', '446', '446.0', 'KA1504000168']
Public Rack - Public Rack - Ashland Ave & 45th St: ['843', '845']
Public Rack - Austin Ave & Wellington Ave: ['1127', '1152']
Public Rack - Menard Ave & Dakin St: ['812', '1101']
Public Rack - Cicero Ave & Le Moyne St: ['1173', '1055']
Public Rack - Albany Ave & 103rd St: ['872', '926']
Public Rack - Cicero Ave & Cortland St: ['1090', '1097']

In [21]:
# Checking for overlaps
for i in range(len(id_keys)):
    if id_dict[id_keys[i]] in check_list and id_keys[i] not in stations_list:
        print(f'{id_keys[i]}: {id_dict[id_keys[i]]}')

In [22]:
check_list

[['13300', '76'],
 ['TA1306000030', 'TA1306000029'],
 ['chargingstx4', 'TA1306000015'],
 ['TA1306000014', 'Wilton Ave & Diversey Pkwy - Charging'],
 ['112', 'chargingstx3'],
 ['TA1307000052', '20256'],
 ['chargingstx5', 'TA1307000138'],
 ['chargingstx1', '113'],
 ['LF-005', 'LF-006'],
 ['TA1309000040', 'TA1309000039'],
 ['TA1309000048', 'TA1309000049'],
 ['KA1504000169', '446', '446.0', 'KA1504000168'],
 ['843', '845'],
 ['1127', '1152'],
 ['812', '1101'],
 ['1173', '1055'],
 ['872', '926'],
 ['1090', '1097']]

In [23]:
stations_list

['DuSable Lake Shore Dr & Monroe St',
 'DuSable Lake Shore Dr & Ohio St',
 'Morgan St & Lake St*',
 'Wilton Ave & Diversey Pkwy',
 'Green St & Randolph St*',
 'N Sheffield Ave & W Wellington Ave',
 'Lincoln Ave & Roscoe St*',
 'Bissell St & Armitage Ave*',
 'DuSable Lake Shore Dr & North Blvd',
 'DuSable Lake Shore Dr & Diversey Pkwy',
 'DuSable Lake Shore Dr & Belmont Ave',
 'Western Ave & 28th St',
 'Public Rack - Public Rack - Ashland Ave & 45th St',
 'Public Rack - Austin Ave & Wellington Ave',
 'Public Rack - Menard Ave & Dakin St',
 'Public Rack - Cicero Ave & Le Moyne St',
 'Public Rack - Albany Ave & 103rd St',
 'Public Rack - Cicero Ave & Cortland St']

In [24]:
fix_array = [1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 3, 1, 0, 1, 1, 0, 1]
for i in range(len(stations_list)):
    merged2013_2022.loc[merged2013_2022['start_station_name'] == stations_list[i], 'start_station_id'] = check_list[i][fix_array[i]]
    merged2013_2022.loc[merged2013_2022['end_station_name'] == stations_list[i], 'end_station_id'] = check_list[i][fix_array[i]]

In [25]:
merged2013_2022.loc[merged2013_2022['end_station_name'] == 'DuSable Lake Shore Dr & Monroe St', 'end_station_id'].unique()

array(['76'], dtype=object)

In [26]:
merged2013_2022.head()

,start_time,end_time,trip_duration,start_station_id,start_station_name,end_station_id,end_station_name,usertype,gender,birthyear,...,rideable_type,start_city,start_landmark,end_city,end_landmark,start_date,end_date,start_dpcapacity,end_dpcapacity,age
0,01:06:00,09:46:00,31177,WL-012,Clinton St & Washington Blvd,TA1306000009,Larrabee St & Kingsbury St,1,0,1982,...,0,0,10,0,12,2013-06-27,2013-06-27,29,43,31
1,11:09:00,11:11:00,140,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,1982,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
2,11:12:00,11:13:00,87,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,1982,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
3,11:24:00,14:38:00,11674,17,Honore St & Division St,61,Wood St & Milwaukee Ave,1,0,1978,...,0,0,246,0,221,2013-06-27,2013-06-27,23,17,35
4,11:39:00,16:01:00,15758,88,Racine Ave & Randolph St,34,Cannon Dr & Fullerton Ave,1,0,1982,...,0,0,155,0,124,2013-06-27,2013-06-27,19,15,31

In [27]:
merged2013_2022.columns

Index(['start_time', 'end_time', 'trip_duration', 'start_station_id',
       'start_station_name', 'end_station_id', 'end_station_name', 'usertype',
       'gender', 'birthyear', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'rideable_type', 'start_city', 'start_landmark', 'end_city',
       'end_landmark', 'start_date', 'end_date', 'start_dpcapacity',
       'end_dpcapacity', 'age'],
      dtype='object')

In [28]:
merged2013_2022.to_csv('1 Full Divvy Dataframe pt6.csv')

In [1]:
import pandas as pd

In [2]:
merged2013_2022 = pd.read_csv('1 Full Divvy Dataframe pt6.csv', index_col=[0])

In [3]:
merged2013_2022.head()

,start_time,end_time,trip_duration,start_station_id,start_station_name,end_station_id,end_station_name,usertype,gender,birthyear,...,rideable_type,start_city,start_landmark,end_city,end_landmark,start_date,end_date,start_dpcapacity,end_dpcapacity,age
0,01:06:00,09:46:00,31177,WL-012,Clinton St & Washington Blvd,TA1306000009,Larrabee St & Kingsbury St,1,0,1982,...,0,0,10,0,12,2013-06-27,2013-06-27,29,43,31
1,11:09:00,11:11:00,140,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,1982,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
2,11:12:00,11:13:00,87,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,1982,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
3,11:24:00,14:38:00,11674,17,Honore St & Division St,61,Wood St & Milwaukee Ave,1,0,1978,...,0,0,246,0,221,2013-06-27,2013-06-27,23,17,35
4,11:39:00,16:01:00,15758,88,Racine Ave & Randolph St,34,Cannon Dr & Fullerton Ave,1,0,1982,...,0,0,155,0,124,2013-06-27,2013-06-27,19,15,31

In [4]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33138880 entries, 0 to 33138879
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int64
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int64
 8   gender              int64
 9   birthyear           int64
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  rideable_type       int64
 15  start_city          int64
 16  start_landmark      int64
 17  end_city            int64
 18  end_landmark        int64
 19  start_date          object
 20  end_date            object
 21  start_dpcapacity    int64
 22  end_dpcapacity      int64
 23  age                 int64
dtypes: float64(4), int64(12), object(8)
memory usage: 6.2+ GB

Now to deal with outliers, and then convert objects to categorical data and lower int/float dtypes to save system memory. We will start with trip duration. Without even looking at it, I know that we should delete any values that are more than 24 hours.

In [5]:
24*60*60

86400

In [6]:
merged2013_2022['trip_duration'].describe()

count    3.313888e+07
mean     1.108059e+03
std      2.123248e+03
min      1.000000e+00
25%      4.120000e+02
50%      7.160000e+02
75%      1.251000e+03
max      1.555430e+05
Name: trip_duration, dtype: float64

In [7]:
merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 86400].shape[0] / merged2013_2022.shape[0]

2.691702314622582e-05

Let's cut the time in half and see how many rides are over 12 hours long.

In [8]:
merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 86400 // 2].shape[0] / merged2013_2022.shape[0]

0.0005807377919833139

What about 6 hours?

In [9]:
merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 86400 // 4].shape[0] / merged2013_2022.shape[0]

0.0011483791848125224

What about 3 hours?

In [10]:
merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 86400 // 8].shape[0] / merged2013_2022.shape[0]

0.0033946228719860176

In [11]:
 86400 // 8

10800

What about 2 hours?

In [12]:
merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 60 * 60 * 2].shape[0] / merged2013_2022.shape[0]

0.009290507102231577

We want an accurate picture of station behavior, and it seems like including rides above 3 hours accounts for essentially none of the data, and may skew our data, so these values will be deleted.

In [13]:
drop_over_3hr = merged2013_2022['trip_duration'].loc[merged2013_2022['trip_duration'] > 3 * 60 * 60].index

In [14]:
merged2013_2022.drop(drop_over_3hr, inplace=True)

In [15]:
merged2013_2022.reset_index(drop=True, inplace=True)

Now to check 'age' for outliers.

In [16]:
merged2013_2022['age'].describe()

count    3.302639e+07
mean     1.648816e+01
std      1.964949e+01
min     -1.000000e+00
25%     -1.000000e+00
50%     -1.000000e+00
75%      3.200000e+01
max      1.000000e+02
Name: age, dtype: float64

I believe I already checked this. I think honestly the probability that a rider is older than say 70 is pretty low.

In [17]:
merged2013_2022['age'].loc[merged2013_2022['age'] > 70].shape[0] / merged2013_2022['age'].shape[0]

0.0010635132769295436

In [18]:
merged2013_2022['age'].loc[merged2013_2022['age'] > 70].shape[0]

35124

However, I don't want to delete these values, because for stations that are in particular positions, it may be more likely for older folks to use the service; basically, if there is a station that has a concentration of older people near it, we want to know this. 0.1% of 32701059 is still 34622 rides, which could easily be an outskirt stations entire ride history 5 times over.

In [19]:
merged2013_2022.columns

Index(['start_time', 'end_time', 'trip_duration', 'start_station_id',
       'start_station_name', 'end_station_id', 'end_station_name', 'usertype',
       'gender', 'birthyear', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'rideable_type', 'start_city', 'start_landmark', 'end_city',
       'end_landmark', 'start_date', 'end_date', 'start_dpcapacity',
       'end_dpcapacity', 'age'],
      dtype='object')

We have a lot of categorical data, I would convert these to dummy variables but it just complicates the process of evaluating the variables later on, so I will keep them as is for now. (Namely I can't do correlation heatmap and would ahve to change all the functions I already wrote).

usertype, gender, and rideable_type are all dummy variables, so we can downsize them to int8 objec

In [20]:
merged2013_2022['usertype'].unique()

array([1, 0], dtype=int64)

In [21]:
(merged2013_2022['usertype'] == merged2013_2022['usertype'].astype('int8')).unique()

array([ True])

In [22]:
merged2013_2022['usertype'] = merged2013_2022['usertype'].astype('int8')

In [23]:
merged2013_2022['gender'].unique()

array([ 0, -1,  1], dtype=int64)

In [24]:
(merged2013_2022['gender'] == merged2013_2022['gender'].astype('int8')).unique()

array([ True])

In [25]:
merged2013_2022['gender'] = merged2013_2022['gender'].astype('int8')

In [26]:
merged2013_2022['rideable_type'].unique()

array([0, 1, 2], dtype=int64)

In [27]:
(merged2013_2022['rideable_type'] == merged2013_2022['rideable_type'].astype('int8')).unique()

array([ True])

In [28]:
merged2013_2022['rideable_type'] = merged2013_2022['rideable_type'].astype('int8')

In [29]:
merged2013_2022['start_city'].unique()

array([0, 2, 1], dtype=int64)

In [30]:
(merged2013_2022['start_city'] == merged2013_2022['start_city'].astype('int8')).unique()

array([ True])

In [31]:
merged2013_2022['start_city'] = merged2013_2022['start_city'].astype('int8')

In [32]:
merged2013_2022['end_city'].unique()

array([0, 2, 1], dtype=int64)

In [33]:
(merged2013_2022['end_city'] == merged2013_2022['end_city'].astype('int8')).unique()

array([ True])

In [34]:
merged2013_2022['end_city'] = merged2013_2022['end_city'].astype('int8')

In [35]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33026386 entries, 0 to 33026385
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int64
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int8
 8   gender              int8
 9   birthyear           int64
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  rideable_type       int8
 15  start_city          int8
 16  start_landmark      int64
 17  end_city            int8
 18  end_landmark        int64
 19  start_date          object
 20  end_date            object
 21  start_dpcapacity    int64
 22  end_dpcapacity      int64
 23  age                 int64
dtypes: float64(4), int64(7), int8(5), object(8)
memory usage: 4.8+ GB

Managed to save 600 MB of space, which was definitely worth it. Now I can downsize the int64 and float64 columns by casting them to lower bit int/float values. I will do this by converting down and checking that the columns are the same.

In [36]:
(merged2013_2022['trip_duration'] == merged2013_2022['trip_duration'].astype('int8')).unique()

array([False,  True])

In [37]:
(merged2013_2022['trip_duration'] == merged2013_2022['trip_duration'].astype('int16')).unique()

array([ True])

In [38]:
merged2013_2022['trip_duration'] = merged2013_2022['trip_duration'].astype('int16')

In [39]:
(merged2013_2022['birthyear'] == merged2013_2022['birthyear'].astype('int8')).unique()

array([False,  True])

In [40]:
(merged2013_2022['birthyear'] == merged2013_2022['birthyear'].astype('int16')).unique()

array([ True])

In [41]:
merged2013_2022['birthyear'] = merged2013_2022['birthyear'].astype('int16')

In [42]:
(merged2013_2022['start_lat'] == merged2013_2022['start_lat'].astype('float16')).unique()

array([False,  True])

In [43]:
(merged2013_2022['start_lat'] == merged2013_2022['start_lat'].astype('float32')).unique()

array([False,  True])

In [44]:
(merged2013_2022['start_lat'] == merged2013_2022['start_lat'].astype('float64')).unique()

array([ True])

It seems like the lat/lng values can't be reduced in size without causing overflow error to erroneously change values, so I will leave these categories be.

In [45]:
(merged2013_2022['start_landmark'] == merged2013_2022['start_landmark'].astype('int8')).unique()

array([False,  True])

In [46]:
(merged2013_2022['start_landmark'] == merged2013_2022['start_landmark'].astype('int16')).unique()

array([ True])

In [47]:
merged2013_2022['start_landmark'] = merged2013_2022['start_landmark'].astype('int16')

In [48]:
(merged2013_2022['end_landmark'] == merged2013_2022['end_landmark'].astype('int8')).unique()

array([False,  True])

In [49]:
(merged2013_2022['end_landmark'] == merged2013_2022['end_landmark'].astype('int16')).unique()

array([ True])

In [50]:
merged2013_2022['end_landmark'] = merged2013_2022['end_landmark'].astype('int16')

In [51]:
(merged2013_2022['start_dpcapacity'] == merged2013_2022['start_dpcapacity'].astype('int8')).unique()

array([ True])

In [52]:
merged2013_2022['start_dpcapacity'] = merged2013_2022['start_dpcapacity'].astype('int8')

In [53]:
(merged2013_2022['end_dpcapacity'] == merged2013_2022['end_dpcapacity'].astype('int8')).unique()

array([ True])

In [54]:
merged2013_2022['end_dpcapacity'] = merged2013_2022['end_dpcapacity'].astype('int8')

In [55]:
(merged2013_2022['age'] == merged2013_2022['age'].astype('int8')).unique()

array([ True])

In [56]:
merged2013_2022['age'] = merged2013_2022['age'].astype('int8')

In [57]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33026386 entries, 0 to 33026385
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int16
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int8
 8   gender              int8
 9   birthyear           int16
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
 14  rideable_type       int8
 15  start_city          int8
 16  start_landmark      int16
 17  end_city            int8
 18  end_landmark        int16
 19  start_date          object
 20  end_date            object
 21  start_dpcapacity    int8
 22  end_dpcapacity      int8
 23  age                 int8
dtypes: float64(4), int16(4), int8(8), object(8)
memory usage: 3.4+ GB

In [58]:
merged2013_2022.drop('birthyear', axis=1, inplace=True)

In [59]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33026386 entries, 0 to 33026385
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int16
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int8
 8   gender              int8
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  rideable_type       int8
 14  start_city          int8
 15  start_landmark      int16
 16  end_city            int8
 17  end_landmark        int16
 18  start_date          object
 19  end_date            object
 20  start_dpcapacity    int8
 21  end_dpcapacity      int8
 22  age                 int8
dtypes: float64(4), int16(3), int8(8), object(8)
memory usage: 3.4+ GB

In [60]:
merged2013_2022.to_csv('1 Full Divvy Dataframe final.csv')

In [61]:
import pandas as pd
merged2013_2022 = pd.read_csv('1 Full Divvy Dataframe final.csv', index_col=[0])

In [62]:
merged2013_2022.head()

,start_time,end_time,trip_duration,start_station_id,start_station_name,end_station_id,end_station_name,usertype,gender,start_lat,...,rideable_type,start_city,start_landmark,end_city,end_landmark,start_date,end_date,start_dpcapacity,end_dpcapacity,age
0,11:09:00,11:11:00,140,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,41.88397,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
1,11:12:00,11:13:00,87,88,Racine Ave & Randolph St,88,Racine Ave & Randolph St,1,0,41.88397,...,0,0,155,0,155,2013-06-27,2013-06-27,19,19,31
2,12:06:00,12:11:00,301,85,Michigan Ave & Oak St,85,Michigan Ave & Oak St,1,0,41.90096,...,0,0,42,0,42,2013-06-27,2013-06-27,21,21,31
3,12:11:00,12:16:00,316,85,Michigan Ave & Oak St,TA1306000007,Larrabee St & Menomonee St,0,-1,41.90096,...,0,0,42,0,282,2013-06-27,2013-06-27,21,15,-1
4,12:15:00,12:16:00,60,TA1306000007,Larrabee St & Menomonee St,TA1306000007,Larrabee St & Menomonee St,1,0,41.91468,...,0,0,282,0,282,2013-06-27,2013-06-27,15,15,31

In [64]:
merged2013_2022['usertype'] = merged2013_2022['usertype'].astype('int8')
merged2013_2022['gender'] = merged2013_2022['gender'].astype('int8')
merged2013_2022['rideable_type'] = merged2013_2022['rideable_type'].astype('int8')
merged2013_2022['start_city'] = merged2013_2022['start_city'].astype('int8')
merged2013_2022['end_city'] = merged2013_2022['end_city'].astype('int8')
merged2013_2022['trip_duration'] = merged2013_2022['trip_duration'].astype('int16')
merged2013_2022['start_landmark'] = merged2013_2022['start_landmark'].astype('int16')
merged2013_2022['end_landmark'] = merged2013_2022['end_landmark'].astype('int16')
merged2013_2022['start_dpcapacity'] = merged2013_2022['start_dpcapacity'].astype('int8')
merged2013_2022['end_dpcapacity'] = merged2013_2022['end_dpcapacity'].astype('int8')
merged2013_2022['age'] = merged2013_2022['age'].astype('int8')

In [65]:
start_time = list(merged2013_2022['start_time'].values)
st_hour = []
st_minute = []
st_second = []


for time in start_time:
    st_hour.append(int(time[:2]))
    st_minute.append(int(time[3:5]))
    st_second.append(int(time[6:8]))

In [66]:
end_time = list(merged2013_2022['end_time'].values)
ed_hour = []
ed_minute = []
ed_second = []


for time in end_time:
    ed_hour.append(int(time[:2]))
    ed_minute.append(int(time[3:5]))
    ed_second.append(int(time[6:8]))

In [67]:
start_date = list(merged2013_2022['start_date'].values)
st_year = []
st_month = []
st_day = []


for date in start_date:
    st_year.append(int(date[:4]))
    st_month.append(int(date[5:7]))
    st_day.append(int(date[8:10]))

In [68]:
end_date = list(merged2013_2022['end_date'].values)
ed_year = []
ed_month = []
ed_day = []


for date in end_date:
    ed_year.append(int(date[:4]))
    ed_month.append(int(date[5:7]))
    ed_day.append(int(date[8:10]))

In [69]:
merged2013_2022['st_hour'] = st_hour
merged2013_2022['st_minute'] = st_minute
merged2013_2022['st_second'] = st_second

merged2013_2022['ed_hour'] = ed_hour
merged2013_2022['ed_minute'] = ed_minute
merged2013_2022['ed_second'] = ed_second

merged2013_2022['st_year'] = st_year
merged2013_2022['st_month'] = st_month
merged2013_2022['st_day'] = st_day

merged2013_2022['ed_year'] = ed_year
merged2013_2022['ed_month'] = ed_month
merged2013_2022['ed_day'] = ed_day

In [70]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33026386 entries, 0 to 33026385
Data columns (total 35 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int16
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int8
 8   gender              int8
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  rideable_type       int8
 14  start_city          int8
 15  start_landmark      int16
 16  end_city            int8
 17  end_landmark        int16
 18  start_date          object
 19  end_date            object
 20  start_dpcapacity    int8
 21  end_dpcapacity      int8
 22  age                 int8
 23  st_hour             int64
 24  st_minute           int64
 25  st_second           int64
 26  ed_hour             int64
 27  ed_minute           int64
 28  ed_second           int64
 29  st_year             int64
 30  st_month            int64
 31  st_day              int64
 32  ed_year             int64
 33  ed_month            int64
 34  ed_day              int64
dtypes: float64(4), int16(3), int64(12), int8(8), object(8)
memory usage: 6.6+ GB

In [71]:
convert = list(merged2013_2022.columns)[24:]

In [72]:
for category in convert:
    
    test = (merged2013_2022[f'{category}'] == merged2013_2022[f'{category}'].astype('int8')).unique()
    if test[0] == True and len(test) == 1:
        merged2013_2022[f'{category}'] = merged2013_2022[f'{category}'].astype('int8')
        continue
    test2 = (merged2013_2022[f'{category}'] == merged2013_2022[f'{category}'].astype('int16')).unique()
    if test2[0] == True and len(test2) == 1:
        merged2013_2022[f'{category}'] = merged2013_2022[f'{category}'].astype('int16')
        continue
    test3 = (merged2013_2022[f'{category}'] == merged2013_2022[f'{category}'].astype('int32')).unique()
    if test3[0] == True and len(test3) == 1:
        merged2013_2022[f'{category}'] = merged2013_2022[f'{category}'].astype('int32')
        continue

In [73]:
merged2013_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33026386 entries, 0 to 33026385
Data columns (total 35 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   trip_duration       int16
 3   start_station_id    object
 4   start_station_name  object
 5   end_station_id      object
 6   end_station_name    object
 7   usertype            int8
 8   gender              int8
 9   start_lat           float64
 10  start_lng           float64
 11  end_lat             float64
 12  end_lng             float64
 13  rideable_type       int8
 14  start_city          int8
 15  start_landmark      int16
 16  end_city            int8
 17  end_landmark        int16
 18  start_date          object
 19  end_date            object
 20  start_dpcapacity    int8
 21  end_dpcapacity      int8
 22  age                 int8
 23  st_hour             int64
 24  st_minute           int8
 25  st_second           int8
 26  ed_hour             int8
 27  ed_minute           int8
 28  ed_second           int8
 29  st_year             int16
 30  st_month            int8
 31  st_day              int8
 32  ed_year             int16
 33  ed_month            int8
 34  ed_day              int8
dtypes: float64(4), int16(5), int64(1), int8(17), object(8)
memory usage: 4.3+ GB

In [74]:
merged2013_2022.dtypes.to_dict()

{'start_time': dtype('O'),
 'end_time': dtype('O'),
 'trip_duration': dtype('int16'),
 'start_station_id': dtype('O'),
 'start_station_name': dtype('O'),
 'end_station_id': dtype('O'),
 'end_station_name': dtype('O'),
 'usertype': dtype('int8'),
 'gender': dtype('int8'),
 'start_lat': dtype('float64'),
 'start_lng': dtype('float64'),
 'end_lat': dtype('float64'),
 'end_lng': dtype('float64'),
 'rideable_type': dtype('int8'),
 'start_city': dtype('int8'),
 'start_landmark': dtype('int16'),
 'end_city': dtype('int8'),
 'end_landmark': dtype('int16'),
 'start_date': dtype('O'),
 'end_date': dtype('O'),
 'start_dpcapacity': dtype('int8'),
 'end_dpcapacity': dtype('int8'),
 'age': dtype('int8'),
 'st_hour': dtype('int64'),
 'st_minute': dtype('int8'),
 'st_second': dtype('int8'),
 'ed_hour': dtype('int8'),
 'ed_minute': dtype('int8'),
 'ed_second': dtype('int8'),
 'st_year': dtype('int16'),
 'st_month': dtype('int8'),
 'st_day': dtype('int8'),
 'ed_year': dtype('int16'),
 'ed_month': dtype('int8'),
 'ed_day': dtype('int8')}

In [75]:
merged2013_2022.to_csv('1 Full Divvy Dataframe final.csv')

In [2]:
import pandas as pd

In [ ]:
merged2013_2022 = pd.read_csv('1 Full Divvy Dataframe final.csv',
                              index_col=0,
                              dtype={
                             'trip_duration': 'int16',
                             'usertype': 'int8',
                             'gender': 'int8',
                             'birthyear': 'int16',
                             'rideable_type': 'int8',
                             'start_city': 'int8',
                             'start_landmark': 'int16',
                             'end_city': 'int8',
                             'end_landmark': 'int16',
                             'start_dpcapacity': 'int8',
                             'end_dpcapacity': 'int8',
                             'age': 'int8',
                             'st_hour': 'int8',
                             'st_minute': 'int8',
                             'st_second': 'int8',
                             'ed_hour': 'int8',
                             'ed_minute': 'int8',
                             'ed_second': 'int8',
                             'st_year': 'int16',
                             'st_month': 'int8',
                             'st_day': 'int8',
                             'ed_year': 'int16',
                             'ed_month': 'int8',
                             'ed_day': 'int8'})

In [ ]:
merged2013_2022