In [1]:
import pandas as pd

df = pd.concat([pd.read_csv('Divvy 2014 Q1Q2 merged.csv'), pd.read_csv('Divvy 2014 Q3Q4 merged.csv')], ignore_index=True)

In [2]:
df.drop(['Unnamed: 0'],axis=1)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,from_station_latitude,from_station_longitude,dpcapacity,to_station_latitude,to_station_longitude,Unnamed: 0.1
0,2340422,6/29/2014 19:48,6/29/2014 21:41,2870,6835,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739,NaN
1,2340356,6/29/2014 19:44,6/29/2014 21:42,2462,7070,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739,NaN
2,2330419,6/29/2014 12:44,6/29/2014 14:18,2398,5640,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739,NaN
3,2323885,6/28/2014 22:10,6/28/2014 22:50,2356,2425,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739,NaN
4,2315406,6/28/2014 14:25,6/28/2014 14:36,2255,656,5,State St & Harrison St,5,State St & Harrison St,casual,NaN,NaN,41.873958,-87.627739,19,41.873958,-87.627739,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454629,2896950,8/1/2014 16:40,8/1/2014 17:02,2865,1352,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,casual,NaN,NaN,41.803038,-87.606615,15,41.803038,-87.606615,1548930.0
2454630,4385112,12/21/2014 15:55,12/21/2014 16:57,2197,3677,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,casual,NaN,NaN,41.803038,-87.606615,15,41.803038,-87.606615,1548931.0
2454631,4385109,12/21/2014 15:55,12/21/2014 16:56,651,3651,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,casual,NaN,NaN,41.803038,-87.606615,15,41.803038,-87.606615,1548932.0
2454632,3952556,10/14/2014 10:09,10/14/2014 11:15,2002,3980,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,casual,NaN,NaN,41.803038,-87.606615,15,41.803038,-87.606615,1548933.0
2454633,3859067,10/6/2014 8:31,10/6/2014 8:49,528,1052,351,Cottage Grove Ave & 51st St,351,Cottage Grove Ave & 51st St,casual,NaN,NaN,41.803038,-87.606615,15,41.803038,-87.606615,1548934.0

In [3]:
df.to_csv('Divvy 2014 merged.csv')